.navbar{
    height:60px;
    position:fixed;
    top:0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom:1px solid var(--gray);
    z-index: 10000;
}
.navbar-icon{
   width: 150px;
 
}
.right-search{
    width:200px;
    height:50px;
    padding:20px
}
.navbar-icon-container{
    color:white;
    font-size:30px;
    padding-left:100px;
    font-weight: 600;
    cursor:pointer
}
.left-nav{
    display: flex;
    flex-direction: row;
    align-items: center
    
}
.nav-list>ul{
    list-style-type:none;

}
.nav-list>ul>li{
    display:inline;
    color:white;
    padding:10px;
    font-weight: 500;
    cursor:pointer;
    font-family: custom-font, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.right-nav{
    display:flex;
    flex-direction: row;
    padding:30px;
    justify-content: space-between;
    color:white;
    font-weight: 500;
    font-family: custom-font, BlinkMacSystemFont, -apple-system,
}
.right-nav>div{
    padding:5px
}
.toggler-content{
    padding:20px 30px;
}
.nav-items-list>ul{
    list-style-type:none;
    padding:10px
}
.nav-items-list>ul>li{
    padding:10px;
    font-size:17px;
    color:white;
    border: 2px solid var(--green);
    background-color:var(--green);
    border-radius: 50px;
    text-align: center;
    margin:20px
}

