.profile-feed-card{
    max-width:500px;
    background-color: var(--black);
    height:auto;
    margin:50px;
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.bottom-feed{
    position: relative;
    width: 100%;

    bottom: 0;
    background-color:var(--black);
    border-radius: 0px 0px 10px 10px;
    font-size: 16px;
    align-content: center;
    margin:0

}
.profile-poster{
    width:500px;
    height:auto
}
a{
    text-decoration: none;
    color: var(--green);
}
.icons-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.sh-icon{
    width:30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}
.share-icons:hover{
    background-color:red !important;
    box-shadow:none !important
}
.comments-container{
    padding:20px;
    display:none; 
    transition:display 10s; 

}
.comments-container1{
    padding:20px;
    display:block;  
    overflow-y: hidden;
    transition:height 2s;
}

@media only screen and (max-width: 720px) {
    .sidebar {
      top:50px
    }  
    .profile-feed-card{
        max-width:100%;        
        background-color: var(--black);
        height:auto;
        margin:10px;
        border-radius: 10px;
        position:relative;
        overflow: hidden;
    }
    .profile-poster{
        width:100%;
        height:auto
    }
    .sh-icon{
        width:30px;
        height: 30px;
        padding: 10px;
    }
    .profile-feed-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
  
  }